[submodule "vendor/D3D12MemoryAllocator"]
	path = vendor/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "vendor/DirectXTK"]
	path = vendor/DirectXTK
url=https://github.com/microsoft/DirectXTK12.git