[submodule "vendor/D3D12MemoryAllocator"]
	path = vendor/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "vendor/DirectXTK"]
	path = vendor/DirectXTK
url=https://github.com/microsoft/DirectXTK12.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
